{% comment %} MODALE POUR LE MATCH LOCAL {% endcomment %}
	<div class="modal fade" id="localMatchModal" tabindex="-1" aria-labelledby="localMatchModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="min-width: 700px;">
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="localMatchModalLabel" data-translate="localmatch">Local match</h5>
					<button type="button" class="btn-close closeRefresh" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="formViewLocal">
						<form id="localMatchForm" class="row my-4 d-flex align-items-center justify-content-center">
							{% csrf_token %}
							<div class="col-7">
								<input type="text" class="form-control" id="local_player2_name" name="local_player2_name" data-translate="opponent" placeholder="Choose an alias for your opponent">
							</div>
							<button type="submit" id="startLocalGameBtn" class="btn btn-primary col-2 shadow-sm" data-translate="start">Start</button>
						</form>
					</div>
					<div id="gameViewLocal" style="display: none;">
						<div class="canvas" width="600" height="600">
							<canvas id="CanvasLocal" width="600" height="600"></canvas>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-sm shadow-sm closeRefresh" data-bs-dismiss="modal" data-translate="close">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% comment %} MODALE POUR LE MATCH ONLINE {% endcomment %}
	<div class="modal fade" id="onlineMatchModal" tabindex="-1" aria-labelledby="matchModal" aria-hidden="true">
		<div class="modal-dialog" style="min-width: 700px;">
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="matchModalLabel" data-translate="onlinematch">Online match</h5>
					<button type="button" class="btn-close closeRefresh" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="canvas" width="600" height="600">
						<canvas id="CanvasOnline" width="600" height="600"></canvas>
						<script>
							var pongScript;
							document.addEventListener('DOMContentLoaded', function() {
								var canvasModal = document.getElementById('onlineMatchModal');

								canvasModal.addEventListener('show.bs.modal', function () {
									console.log('ONLINE');
									pongScript = document.createElement('script');
									pongScript.src = '../static/scripts/pongonline.js';
									pongScript.defer = true;
									document.body.appendChild(pongScript);
								});
								canvasModal.addEventListener('hidden.bs.modal', function () {
									if (pongScript) {
										document.body.removeChild(pongScript);
										pongScript = null;
										// stopPongGame(); 
									}
								});
							});
						</script>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-sm shadow-sm closeRefresh" data-bs-dismiss="modal" data-translate="close">Close</button>
				</div>
			</div>
		</div>
	</div>