<script src= "../static/scripts/usersList_update.js"></script>
<script src= "../static/scripts/friends_requests_refresh.js"></script>
<script src= "../static/scripts/status_online.js"></script>
<script type="text/javascript">
    var formHTML = `{% csrf_token %}<input type="hidden" name="receiver" value=""><button class="btn buttonfriends btn-sm btn-primary shadow-sm" type="submit" style="--bs-btn-font-size: .75rem;">add friend</button>`;
</script>
<div class="col mb-3 mx-auto">
    <div class="colSize p-3 bg-light border border-light border-opacity-25 bg-opacity-25 rounded shadow text-light">
        <div class="d-flex text-align-center">
            <h3 class="mb-4 ms-2" data-translate="users">Users</h3>
            <h3 class="mb-4 ms-2"><i class="bi bi-people-fill"></i></h3>
        </div>
        <div class="mb-3 overflow-auto" style="height: 366px;">
            <ul id= "friendsList" class="list-unstyled">
                {% for friend in friends.friends %}
                    <li class="mb-2">
                        <div class="d-flex justify-content-between align-items-center col-10 bg-white bg-opacity-25 mb-2 rounded shadow-sm mx-auto p-3">
                            <div class="d-flex align-items-center">
                                <img id="status-indicator-{{ friend.id }}" class="rounded-circle me-2
                                    {% if friend.status == 'is_online' %}border border-2 border-success
                                    {% elif friend.status == 'is_playing' %}border border-2 border-danger
                                    {% else%}
                                    {% endif %}" src="{{ friend.avatar.url }}" alt="Friend avatar" style="width: 35px; height: 35px;">
                                <div style="max-width: 7ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    {{ friend.username }}
                                </div>
                            </div>
                            <button class="btn buttonfriends btn-sm btn-dark shadow-sm" data-translate="profile" style="--bs-btn-font-size: .75rem;"
                                id="profile-{{ friend.id }}"
                                type="button" data-bs-toggle="popover"
                                title="{{ friend.username }} profile"
                                data-date-joined="{{ friend.date_joined.date }}"
                                data-bs-custom-class="custom-popover"
                                data-bs-content="
                                <i class='bi bi-trophy-fill'></i> Won ({{ friend.tourn_won }}) tournament(s)
                                <br><i class='bi bi-joystick'></i> Played ({{ friend.matches_won|add:friend.matches_lost }}) matches:
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;<i class='bi bi-caret-right-fill'></i>won ({{ friend.matches_won }})
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;<i class='bi bi-caret-right-fill'></i>lost ({{ friend.matches_lost }})
                                <br><i class='bi bi-calendar-check-fill'></i> Joined on {{ friend.date_joined.date }}
                                ">
                                profile
                            </button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <hr class="col-10 mt-0 mb-3 mx-auto">
            <ul id="usersList" class="list-unstyled">
                {% for other_user in users %}
                    {% if other_user not in friends.friends %}
                    <li>
                        <div id="userDiv-{{ other_user.id }}" class="d-flex justify-content-between align-items-center col-10 bg-white bg-opacity-25 p-3 mb-2 rounded shadow-sm mx-auto">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-2" src="{{ other_user.avatar.url }}" alt="" style="width: 35px; height: 35px;">
                                <div style="max-width: 7ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    {{ other_user.username }}
                                </div>
                            </div>
                            {% if other_user.username in friends.invites %}
                            <div id="f_request_validation-{{ other_user.id }}" class="d-flex flex-row align-items-center">
                                <div class="button_friends me-1" data-type="accepted" data-sender="{{ user.id }}" data-receiver="{{ other_user.id }}" >
                                    <button class="btn buttonvalid px-2 btn-sm btn-primary shadow-sm"
                                    style="--bs-btn-font-size: .75rem;"><i class="bi bi-check-square"></i></button>
                                </div>
                                <div class="button_friends" data-type="rejected" data-sender="{{ user.id }}" data-receiver="{{ other_user.id }}" >
                                    <button class="px-2 buttonvalid btn btn-sm btn-danger shadow-sm"
                                    style="--bs-btn-font-size: .75rem;"><i class="bi bi-x-square"></i></button>
                                </div>
                            </div>
                            {% elif other_user.username in friends.invitees %}
                            <div id="f_request_pending-{{ other_user.id }}">
                                <button class="btn buttonfriends btn-sm btn-primary shadow-sm" disabled
                                style="--bs-btn-font-size: .75rem;" data-translate="pending">pending</button>
                            </div>
                            {% else %}
                            <div id="f_request_add-{{ other_user.id }}">
                                <button data-type="send_f_request" data-sender="{{ user.id }}" data-receiver="{{ other_user.id }}" class="btn buttonfriends button_friends btn-sm btn-primary shadow-sm"
                                style="--bs-btn-font-size: .75rem;" data-translate="add">add friend
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>